.HomeStyled {
  background-color: black;
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: calc(100vh - 7rem);
  align-items: end;
}

@media (max-width: 970px) {
  .HomeStyled {
    display: block;
  }
}

.Banner {
  width: 440px;
}

@media (max-width: 970px) {
  .Banner {
    position: absolute;
    bottom: 0;
    width: 300px;
  }
}

@media (max-width: 860px) {
  .Banner {
    position: absolute;
    bottom: 0;
    width: 250px;
  }
}

.Flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @media (max-width: 970px) {
    .Flex {
      margin-top: 4rem;
    }
  }
}

.Message {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
}

.Message h1 {
  font-family: "Montserrat", sans-serif;
  color: #616161;
  margin-bottom: 1rem;
}

@media (max-width: 550px) {
  .Message {
    z-index: 100;
    width: 100%;
  }
  .Message h1 {
    text-align: center;
    font-size: 3vh;
  }
}
